# Acquire

In [1]:
import pandas as pd
import requests
import sys
from datetime import datetime, timedelta
import os
from get_gt_yearlong import get_gt

**Steps to Acquire the Base Truth Data**
- Step 1:
    - Locally download the get_gt_yearlong helper functions from: https://drive.google.com/file/d/1sUa_cHRnbluQETulHE_zMckP9aCSCV_s/view?usp=sharing 

- Step 2:
    - Navigate to the get_gt_yearlong folder in your terminal and execuet the following command:
    ```
    python3 get_gt.py 'streamflow.csv' 2016-1-1 2020-12-31
    ```
    
- Step 3:
    - Read in the csv using pandas

In [2]:
#Read in the data from the locally stored csv file
#This is the ground truth data for the 10 locations for analysis and this is the main df we will build upon
df = pd.read_csv('streamflow.csv') 
df.head()

        DateTime LocationID Value Units
0  2016-01-08T12      NFSW4   173   CFS
1  2016-01-08T18      NFSW4   167   CFS
2  2016-01-09T00      NFSW4   171   CFS
3  2016-01-09T06      NFSW4   167   CFS
4  2016-01-09T12      NFSW4   165   CFS

---

**Data Acquisition for Potential Features and Drivers of Streamflow**

In [3]:
#Acquire the Basin Characteristic Data to be used as potential features for predicting streamflow
basin_df = pd.read_csv('basin_metadata/basin_physical_characteristics.txt', sep='\s+', engine='python', index_col=False, header=0)
basin_df.head()

,BASIN_HUC,BASIN_ID,Size(km2),Elevation(m),Slope(m_km-1),Frac_Forest(percent)
0,1,1013500,2303.95,250.31,21.64152,0.9063
1,1,1022500,620.38,92.68,17.79072,0.9232
2,1,1030500,3676.09,143.80,12.79195,0.8782
3,1,1031500,766.53,247.80,29.56035,0.9548
4,1,1047000,904.94,310.38,49.92122,0.9906

In [4]:
#Need to acquire the gauge basin location information to obtain specific information
#For the 10 locations in study

#Note about Acquisition: Need to reset tabs in txt file between header names in order for the dataframe to align properly. 
gauge_basin_df = pd.read_csv('basin_metadata/gauge_information.txt', sep='\t', engine='python', index_col=False, header=0)
gauge_basin_df.head()

,HUC_02,GAGE_ID,GAGE_NAME,LAT,LONG,DRAINAGE AREA (KM^2)
0,1,1013500,"Fish River near Fort Kent, M...",47.23739,-68.58264,2252.70
1,1,1022500,"Narraguagus River at Cherryfield, M...",44.60797,-67.93524,573.60
2,1,1030500,"Mattawamkeag River near Mattawamkeag, M...",45.50097,-68.30596,3676.17
3,1,1031500,"Piscataquis River near Dover-Foxcroft, M...",45.17501,-69.31470,769.05
4,1,1047000,"Carrabassett River near North Anson, M...",44.86920,-69.95510,909.10